.thumbnail {
    border-radius: 1.25rem;
    transition: .3s all ease;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.25rem;

    &:has(+ .content:hover) {
        opacity: 0.7;
    }
}

.content {
    display: block;
    color: var(--dark);
    font-size: 0.875rem;

    &::before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}