.hero {
    background-color: var(--primary);

    p {
        color: rgba(255, 255, 255, 0.5);
    }

    @media (width >= 768px) {
        padding: calc(4rem - 1.875rem) 0 4rem 0;
    }

    @media (width >= 992px) {
        padding: calc(8rem - 1.875rem) 0 8rem 0;
    }

    img {
        position: relative;
        top: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        max-width: 780px;
        left: -1.25rem;

        @media (width >= 768px) {
            right: 0;
            left: -6.25rem;
        }

        @media (width >= 1024px) {
            position: absolute;
            left: 0;
            top: -5rem;
            right: -3.125rem;
        }

        @media (width >= 1200px) {
            left: 0;
            top: -5rem;
            right: -6.25rem;
        }
    }
}